<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if .Page.Data.title }}
      <title>{{ .Page.Data.title }}</title>
    {{ end }}
    <style>{{ .DefaultStyles }}</style>
  </head>
  <body>
    <main>
      <nav>
        <a href="/">Posts</a>
      </nav>

      {{ if .Page.Data.title }}
        <h1>{{ .Page.Data.title }}</h1>
      {{ end }}

      {{ if .Page.Data.date }}
        <time>{{ .Page.Data.date }}</time>
      {{ end }}

      {{ .Page.Contents }}
    </main>
  </body>
</html>
